.container {
  height: 600px;
  overflow: auto;
  position: relative;
  .phantom {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
  }
  .list {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    text-align: center;
    .item {
      padding: 10px;
      background-color: #aaa;
      border-bottom: 1px solid #fff;
    }
  }
}